{% extends 'base.html.twig' %}

{% block title %}YouMusic !{% endblock %}

{% block body %}
    <h1>CreÌer une nouvelle musique</h1>

    {{ form(form) }}

    <a href="{{ path('app_music') }}">Retour</a>

{% endblock %}